**/*.out
**/a.out
**/*.swp
**/*.swo

**/.obj
**/*.a
**/*.o
**/*.a
**/*.d
**/*.s
**/*.gch
**/*.gdb_history
**/compile_commands.json 

**/*.clang
**/*.code
**/*.vscode
**/*.cache

**/input
**/output

**/test
**/res
**/resultat
**/log
**/doxy-log.txt
**/doxy-log-err.txt
